org: xpegdrop
app: xpegdrop
service: rest-api

provider:
  name: aws
  runtime: nodejs20.x
  stage: ${opt:stage, 'prod'}
  region: eu-west-1
  environment: ${file(./.serverless/env.yaml)}
  iamRoleStatements: ${file(./.serverless/iamRoleStatements.yaml)}

  httpApi:
    cors:
      allowedOrigins:
        - ${env:FRONTEND_URL}
        - http://localhost:3000
      allowedHeaders:
        - Content-Type
        - Authorization
        - X-id-token
      allowedMethods:
        - GET
        - POST
        - PUT
        - DELETE
        - OPTIONS
      allowCredentials: true
    authorizers:
      newJwtAuthorizer:
        type: request
        functionName: authorizer
        identitySource: $request.header.Authorization

resources: ${file(./.serverless/resources.yaml)}

functions:
  api:
    handler: src/server.handler
    events: ${file(./.serverless/events.yaml)}

  authorizer:
    handler: src/middleware/serverlessAuth.authorizeHandler

plugins:
  - serverless-offline
  - serverless-dotenv-plugin
