name: Deploy to Prod

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: prod
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "20"

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-west-1

      - name: Generate Serverless Env & Deploy to Serverless
        env:
          SERVERLESS_ACCESS_KEY: ${{ secrets.SERVERLESS_ACCESS_KEY }}
          AWS_REGION_CODE: eu-west-1
          COGNITO_CLIENT_ID: ${{ secrets.COGNITO_CLIENT_ID }}
          DROPBOX_CLIENT_ID: ${{ secrets.DROPBOX_CLIENT_ID }}
          DROPBOX_CLIENT_SECRET: ${{ secrets.DROPBOX_CLIENT_SECRET }}
          BACKEND_URL: ${{ vars.BACKEND_URL }}
          FRONTEND_URL: ${{ vars.FRONTEND_URL }}
          JWT_SECRET: ${{ secrets.JWT_SECRET }}
          COGNITO_SECRET: ${{ secrets.COGNITO_SECRET }}
          COGNITO_USER_POOL_ID: ${{ secrets.COGNITO_USER_POOL_ID }}
          S3_APP_BUCKET: ${{ secrets.S3_APP_BUCKET }}
          S3_TEMP_BUCKET: ${{ secrets.S3_TEMP_BUCKET }}
          SERVERLESS_ACCESS_KEY: ${{ secrets.SERVERLESS_ACCESS_KEY }}
          AWS_REGION_CODE: eu-west-1
        run: yarn gen:serverless:env && yarn deploy --stage prod
